* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --bg-color:rgb(29, 29, 29);
    --text-color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("https://www.giffywalls.in/cdn/shop/collections/4_1.jpg?v=1737722044");
    background-size: cover;
}

h2,h1{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    width: calc(100% / 3);
}
h1{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.title {
    display: flex;
    position: relative;
    text-align: center;
    top: -10px;
}

.second,
.minute,
.hour {
    display: flex;
    gap: 10px;
}

.clock,
.date {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
}

.date {
    gap: 70px;
}

.clock-container {
    display: flex;
    padding: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0px 10px 20px black;
}

.digit-container,
.mini-digit-container {
    width: 140px;
    height: 204px;
    font-size: 10rem;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    perspective: 800px;
    line-height: 1.25;
    box-shadow: 0px 0px 10px black;
}

.mini-digit-container {
    width: 70px;
    height: 102px;
    font-size: 5rem;
}

.digit-bg-top-one,
.digit-bg-top-two,
.mini-digit-bg-top-one,
.mini-digit-bg-top-two {
    background-color: #202020;
    width: 140px;
    height: 102px;
    border-bottom: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.digit-bg-bottom-one,
.digit-bg-bottom-two,
.mini-digit-bg-bottom-one,
.mini-digit-bg-bottom-two {
    background-color: #171717;
    width: 140px;
    height: 102px;
    border-top: 2px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    top: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.mini-digit-bg-top-one,
.mini-digit-bg-top-two,
.mini-digit-bg-bottom-one,
.mini-digit-bg-bottom-two {
    width: 70px;
    height: 51px;
    border-bottom: 1px solid black;
}

.digit-bottom,
.mini-digit-bottom {
    position: relative;
    top: -102px;
}

.mini-digit-bottom {
    top: -51px;
}

.digit-bg-top-two,
.mini-digit-bg-top-two {
    position: absolute;
    transform-origin: bottom;
    top: 0px;
    transform: rotateX(0deg);
}

.digit-bg-bottom-two,
.mini-digit-bg-bottom-two {
    position: absolute;
    transform-origin: top;
    top: 102px;
    transform: rotateX(90deg);
}

.mini-digit-bg-bottom-two {
    top: 51px;
}

.flip-top {
    animation: flip-top 1s infinite linear;
}

.flip-bottom {
    animation: flip-bottom 1s infinite linear;
}

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }

    50%,
    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom {

    0%,
    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.day-of-the-week,
.month-of-the-year,
.year {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.info-banner{
    width: 100vw;
    height: 40px;
    background-color: var(--bg-color);
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}
.info-banner>.info-content>img{
    width: 30px;
    height: 30px;
    margin: auto 10px;
    background-color: white;
    border-radius: 50%;
}
.info-content{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
a{
    color: var(--text-color);
}
a:hover{
    color: rgb(242 163 25);
}
span{
    color: var(--text-color);
    text-align: center;
    font-family:sans-serif;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: auto 0px;
}